@using desktop_app_hybrid.Services
@inject AuthService Auth
@inject NavigationManager Nav
@using System.ComponentModel.DataAnnotations


<div class="auth-card">
    <div class="logo">
        <img class="logo-icon" src="https://i.ibb.co/yF9Ct6Vh/e45cad7b-df02-42d6-a6ee-1cbb9de115ab.jpg">
        <div class="logo-text">GradeMaster</div>
    </div>

    <h1>Bienvenue sur GradeMaster</h1>
    <p class="subtitle">
        Connectez-vous pour gérer les notes de vos étudiants et les données académiques.
    </p>

    <EditForm Model="@model" OnValidSubmit="Submit">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label>Email ou Nom d'utilisateur</label>
            <InputText @bind-Value="model.EmailOrUsername"
                       placeholder="Entrez votre email ou nom d'utilisateur" />
        </div>

        <div class="form-group password-field">
            <label>Mot de passe</label>
            <InputText type="password"
                       @bind-Value="model.Password"
                       placeholder="Entrez votre mot de passe" />
            <span class="eye"></span>
        </div>

        <div class="form-group">
            <label>Rôle</label>
            <InputSelect @bind-Value="model.Role">
                <option>etudiants</option>
                <option>enseignants</option>
                
            </InputSelect>
        </div>

        @if (!string.IsNullOrEmpty(error))
        {
            <p style="color:red;font-weight:bold">@error</p>
        }

        <div class="footer">
            <a href="/forgot-password">Mot de passe oublié ?</a>
        </div>

        <button type="submit">Se connecter</button>
    </EditForm>

    <div class="footer">
        Vous n'avez pas de compte ? <a href="/signup">S'inscrire</a>
    </div>
</div>

@code {

    private LoginModel model = new();
    private string? error;
    protected override async Task OnInitializedAsync()
    {
        string mv = await SecureStorage.GetAsync("mustverify") ?? "false";
        if (mv == "true")
        {
            Nav.NavigateTo("/code");
        }
    }
    private async Task Submit()
    {
        error = null;

        var success = await Auth.LoginAsync(
            model.EmailOrUsername,
            model.Password,
            model.Role
        );

        if (success)
        {
            if (model.EmailOrUsername == "student-grade")
            {
                await SecureStorage.SetAsync("userRole", "Admin");
            }
            else
            {
                await SecureStorage.SetAsync("userRole", model.Role);
            }
           
            await SecureStorage.SetAsync("username", model.EmailOrUsername);
            Nav.NavigateTo("/profile");
        }
        else
        {
            error = "Nom d'utilisateur, mot de passe ou sélection de rôle invalide";
        }
    }

    class LoginModel
    {
        [Required]
        public string EmailOrUsername { get; set; } = "";

        [Required]
        public string Password { get; set; } = "";

        public string Role { get; set; } = "etudiants";
    }
}
